<div class="container">
  <div class="row">
    <div class="btn col-2 text-left" (click)="clean()">
      <mat-icon class="arrowIcon">arrow_back</mat-icon>
    </div>
    <div class="col-9 text-left">
      <h4>Nombre de la empresa:</h4>
      <h3 class="title">{{company?.name}}</h3>
    </div>
  </div>
  <div class="row">
    <mat-tab-group dynamicHeight mat-align-tabs="end">
      <mat-tab label="Datos generales">
        <ng-template matTabContent>
          <ng-container>
            <!--search section-->
            <!--company-->
            <div class="row my-4" *ngIf="company !== null">
              <!--info section-->
              <div class="row mx-auto">

                <div class="col-12 col-sm-4 mx-auto">
                  <!--identification type-->
                  <div class="row mx-auto">
                    <mat-label class="labels text-left my-2">Tipo identificaci&oacute;n</mat-label>
                  </div>
                  <div class="row mx-auto">
                    <mat-label class="content text-left my-2">{{company.id_type}}</mat-label>
                  </div>
                  <!--identification number-->
                  <div class="row mx-auto">
                    <mat-label class="labels text-left my-2">N&uacute;mero identificaci&oacute;n</mat-label>
                  </div>
                  <div class="row mx-auto">
                    <mat-label class="content text-left my-2">{{company.id_number}}</mat-label>
                  </div>

                  <!--taxpayer type-->
                  <div class="row mx-auto">
                    <mat-label class="labels text-left my-2">Tipo de contribuyente</mat-label>
                  </div>
                  <div class="row mx-auto">
                    <mat-label class="content text-left my-2">{{company.taxpayer_type}}</mat-label>
                  </div>
                </div>

                <div class="col-12 col-sm-4 mx-auto">
                  <!--company name-->
                  <div class="row mx-auto">
                    <mat-label class="labels text-left my-2">Nombre de la empresa</mat-label>
                  </div>
                  <div class="row mx-auto">
                    <mat-label class="content text-left my-2">{{company.name}}</mat-label>
                  </div>
                  <!--company activity-->
                  <div class="row mx-auto">
                    <mat-label class="labels text-left my-2">Actividad de la empresa</mat-label>
                  </div>
                  <div class="row mx-auto">
                    <mat-label class="content text-left my-2">{{company.activity}}</mat-label>
                  </div>
                  <!--address-->
                  <div class="row mx-auto">
                    <mat-label class="labels text-left my-2">Direcci&oacute;n</mat-label>
                  </div>
                  <div class="row mx-auto">
                    <mat-label class="content text-left my-2">{{company.address}}</mat-label>
                  </div>
                  <!--phone-->
                  <div class="row mx-auto">
                    <mat-label class="labels text-left my-2">Tel&eacute;fono</mat-label>
                  </div>
                  <div class="row mx-auto">
                    <mat-label class="content text-left my-2">{{company.phone}}</mat-label>
                  </div>

                </div>

                <div class="col-12 col-sm-4 mx-auto">
                  <!--legal_representative-->
                  <div class="row mx-auto">
                    <mat-label class="labels text-left my-2">Representante legal</mat-label>
                  </div>
                  <div class="row mx-auto">
                    <mat-label class="content text-left my-2">{{company.legal_representative}}</mat-label>
                  </div>
                  <!--charge_legal_representative-->
                  <div class="row mx-auto">
                    <mat-label class="labels text-left my-2">Cargo del representante legal</mat-label>
                  </div>
                  <div class="row mx-auto">
                    <mat-label class="content text-left my-2">{{company.charge_legal_representative}}</mat-label>
                  </div>
                  <!--cell has_regional-->
                  <div class="row mx-auto">
                    <mat-label class="labels text-left my-2">Tiene regional</mat-label>
                  </div>
                  <div class="row mx-auto">
                    <mat-radio-group aria-label="Select an option">
                      <mat-radio-button class="mx-3" [(ngModel)]="company.has_regional" [value]="true">Si
                      </mat-radio-button>
                      <mat-radio-button class="mx-3" [(ngModel)]="company.has_regional" [value]="false">No
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <!--cell line-->
                  <div class="row mx-auto">
                    <mat-label class="labels text-left my-2">Activar l&iacute;nea vencida</mat-label>
                  </div>
                  <div class="row mx-auto">
                    <mat-radio-group aria-label="Select an option">
                      <mat-radio-button class="mx-3" [(ngModel)]="company.line" [value]="true">Si
                      </mat-radio-button>
                      <mat-radio-button class="mx-3" [(ngModel)]="company.line" [value]="false">No
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>

                </div>

              </div>
              <!--fields section-->
              <div class="row mx-auto">

                <div class="col-12 col-sm-4 mr-auto">
                  <!--Cuenta pago 1-->
                  <div class="row mx-auto">
                    <mat-label class="labels text-left my-2">Cuenta pago 1</mat-label>
                  </div>
                  <div class="row mx-auto">
                    <mat-form-field appearance="outline">
                      <mat-select name="payment_account_1" id="payment_account_1"
                                  [(ngModel)]="company.payment_account_1"
                                  [ngModelOptions]="{standalone: true}">
                        <mat-option value="21001582585">21001582585</mat-option>
                        <mat-option value="21001564585">21001564585</mat-option>
                        <mat-option value="21001534585">21001534585</mat-option>
                        <mat-option value="21345582585">21345582585</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <!--Cuenta pago 2-->
                  <div class="row mx-auto">
                    <mat-label class="labels text-left my-2">Cuenta pago 2</mat-label>
                  </div>
                  <div class="row mx-auto">
                    <mat-form-field appearance="outline">
                      <mat-select name="payment_account_2" id="payment_account_2"
                                  [(ngModel)]="company.payment_account_2"
                                  [ngModelOptions]="{standalone: true}">
                        <mat-option value="21001582585">21001582585</mat-option>
                        <mat-option value="21001564585">21001564585</mat-option>
                        <mat-option value="21001534585">21001534585</mat-option>
                        <mat-option value="21345582585">21345582585</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-12 col-sm-4 mx-auto">
                  <!--Cuenta desembolso-->
                  <div class="row mx-auto">
                    <mat-label class="labels text-left my-2">Cuenta desembolso</mat-label>
                  </div>
                  <div class="row mx-auto">
                    <mat-form-field appearance="outline">
                      <mat-select name="disbursement_account" id="disbursement_account"
                                  [(ngModel)]="company.disbursement_account"
                                  [ngModelOptions]="{standalone: true}">
                        <mat-option value="21001582585">21001582585</mat-option>
                        <mat-option value="21001564585">21001564585</mat-option>
                        <mat-option value="21001534585">21001534585</mat-option>
                        <mat-option value="21345582585">21345582585</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <!--Estado-->
                  <div class="row mx-auto">
                    <mat-label class="labels text-left my-2">Estado</mat-label>
                  </div>
                  <div class="row mx-auto">
                    <mat-form-field appearance="outline">
                      <mat-select name="status" id="status" [(ngModel)]="company.status"
                                  [ngModelOptions]="{standalone: true}">
                        <mat-option value="Activo">Activo</mat-option>
                        <mat-option value="Inactivo">Inactivo</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

              </div>
              <div class="row mx-auto">
                <!--email 1-->
                <div class="col-12 col-sm-10 mr-auto">
                  <div class="row mx-auto">
                    <mat-label class="labels text-left my-2">Email empresa 1</mat-label>
                  </div>
                  <div class="row mx-auto">
                    <mat-form-field appearance="outline">
                      <mat-chip-list #chipList>
                        <mat-chip *ngFor="let email of company.emails1; let i = index;" [selectable]="true"
                                  [removable]="true" (removed)="company.emails1.splice(i, 1)">
                          {{email}}
                          <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <input type="email" placeholder="usuario@dominio.com" [matChipInputFor]="chipList"
                               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                               [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addEmail($event)" name="emails"
                               id="emails" [(ngModel)]="email" (ngModelChange)="emailEntry()"
                               matTooltip="Puedes ingresar hasta 10 correos electrónicos válidos"
                               matTooltipPosition="above">
                      </mat-chip-list>
                    </mat-form-field>
                    <div class="row errors text-center mx-auto my-3" *ngIf="errorEmail != null">
                      {{errorEmail}}
                    </div>
                    <div class="row errors text-center mx-auto my-3" *ngIf="errorEmails != null">{{errorEmails}}</div>
                  </div>
                </div>
                <!--email 2-->
                <div class="col-12 col-sm-10 mr-auto">
                  <div class="row mx-auto">
                    <mat-label class="labels text-left my-2">Email empresa 2</mat-label>
                  </div>
                  <div class="row mx-auto">
                    <mat-form-field appearance="outline">
                      <mat-chip-list #chipList>
                        <mat-chip *ngFor="let email of company.emails2; let i = index;" [selectable]="true"
                                  [removable]="true" (removed)="company.emails2.splice(i, 1)">
                          {{email}}
                          <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <input type="email" placeholder="usuario@dominio.com" [matChipInputFor]="chipList"
                               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                               [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addEmail1($event)" name="emails2"
                               id="emails2" [(ngModel)]="email1" (ngModelChange)="emailEntry1()"
                               matTooltip="Puedes ingresar hasta 10 correos electrónicos válidos"
                               matTooltipPosition="above">
                      </mat-chip-list>
                    </mat-form-field>
                    <div class="row errors text-center mx-auto my-3" *ngIf="errorEmail1 != null">
                      {{errorEmail1}}
                    </div>
                    <div class="row errors text-center mx-auto my-3" *ngIf="errorEmails1 != null">{{errorEmails1}}</div>
                  </div>
                </div>

              </div>
            </div>
            <!--buttons-->
            <div class="row justify-content-left justify-content-sm-end  mx-auto">
              <div class="col-0 col-sm-6"></div>
              <div class=" col-12  my-3 col-sm-3 text-center">
                <button class="btn  primaryBtn" id="saveCompany">Guardar</button>
              </div>
              <div class=" col-12 my-3 col-sm-3 text-center">
                <button class="btn  secondaryBtn" id="cancelCompany" (click)="clean()">Cancelar</button>
              </div>
            </div>
          </ng-container>
        </ng-template>
      </mat-tab>
      <mat-tab label="Productos">
        <ng-template matTabContent>
          <ng-container *ngIf="!editProduct">
            <!--buttons-->
            <div class="row justify-content-left justify-content-sm-end  mx-auto">
              <div class="col-9 col-md-11"></div>
              <div class=" col-3 my-1 mt-3 col-md-1">
                <button class="btn primarySmallBtn" id="createProduct" (click)="editProduct = !editProduct">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
            <div class="table-responsive">
              <table mat-table [dataSource]="products" class="my-3 table table-striped" >
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef class="text-center">
                    <b>ID</b>
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <b class="btn underline" (click)="editThisProduct(element)">{{element.id}}</b>
                  </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="product">
                  <th mat-header-cell *matHeaderCellDef class="text-center">
                    <b>Producto</b>
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <!-- regional-name Column -->
                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef class="text-center">
                    <b>Descripci&oacute;n</b>
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>
                <!-- rate Column -->
                <ng-container matColumnDef="currency">
                  <th mat-header-cell *matHeaderCellDef class="text-center">
                    <b>Moneda</b>
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
                </ng-container>
                <!-- status Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef class="text-center">
                    <b>Estado</b>
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>
                <!-- actions Column -->
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef class="text-center"></th>
                  <td mat-cell *matCellDef="let element">
                    <div class="btn mx-auto" (click)="editThisProduct(element)">
                      <mat-icon>edit</mat-icon>
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedProductColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedProductColumns;"></tr>
              </table>
            </div>
          </ng-container>
          <ng-container *ngIf="editProduct" >
            <!--fields section-->
            <div class="row mx-auto my-3" >
              <div class="col-12 col-sm-4 mr-auto">
                <!--name-->
                <div class="row mx-auto">
                  <mat-label class="labels text-left my-2">Producto</mat-label>
                </div>
                <div class="row mx-auto">
                  <mat-form-field appearance="outline">
                    <mat-select name="product1" id="product1"
                                [(ngModel)]="selectedProduct.name"
                                [ngModelOptions]="{standalone: true}">
                      <mat-option value="PROVEEDOR">PROVEEDOR</mat-option>
                      <mat-option value="CLIENTE">CLIENTE</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <!--id_product-->
                <div class="row mx-auto">
                  <mat-label class="labels text-left my-2">ID producto</mat-label>
                </div>
                <div class="row mx-auto">
                  <mat-form-field appearance="outline">
                    <input matInput type="text" placeholder="Id producto" name="id" id="id_product"
                           [(ngModel)]="selectedProduct.id">
                  </mat-form-field>
                </div>
                <!--D&eacute;bitos por regional-->
                <div class="row mx-auto">
                  <mat-label class="labels text-left my-2">D&eacute;bitos por regional</mat-label>
                </div>
                <div class="row mx-auto">
                  <mat-radio-group aria-label="Select an option">
                    <mat-radio-button class="mx-3" [value]="true">Si
                    </mat-radio-button>
                    <mat-radio-button class="mx-3" [value]="false">No
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
                <!--description-->
                <div class="row mx-auto">
                  <mat-label class="labels text-left my-2">Descripci&oacute;n producto</mat-label>
                </div>
                <div class="row mx-auto">
                  <mat-form-field appearance="outline">
                    <input matInput type="text" placeholder="Descripci&oacute;n" name="description" id="description"
                           [(ngModel)]="selectedProduct.description">
                  </mat-form-field>
                </div>
                <!--currency-->
                <div class="row mx-auto">
                  <mat-label class="labels text-left my-2">Moneda</mat-label>
                </div>
                <div class="row mx-auto">
                  <mat-form-field appearance="outline">
                    <input matInput type="text" placeholder="USD" name="currency" id="currency"
                           [(ngModel)]="selectedProduct.currency">
                  </mat-form-field>
                </div>
                <!--term_type-->
                <div class="row mx-auto">
                  <mat-label class="labels text-left my-2">Tipo plazo</mat-label>
                </div>
                <div class="row mx-auto">
                  <mat-form-field appearance="outline">
                    <mat-select name="term_type" id="term_type"
                                [(ngModel)]="selectedProduct.term_type"
                                [ngModelOptions]="{standalone: true}">
                      <mat-option value="diario">diario</mat-option>
                      <mat-option value="mensual">mensual</mat-option>
                      <mat-option value="anual">anual</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <!--expiration_criteria-->
                <div class="row mx-auto">
                  <mat-label class="labels text-left my-2">Criterio vencimiento</mat-label>
                </div>
                <div class="row mx-auto">
                  <mat-form-field appearance="outline">
                    <mat-select name="expiration_criteria" id="expiration_criteria"
                                [(ngModel)]="selectedProduct.expiration_criteria"
                                [ngModelOptions]="{standalone: true}">
                      <mat-option value="Desplaza feriados">Desplaza feriados</mat-option>
                      <mat-option value="No desplaza">No desplaza</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <!--payment_period-->
                <div class="row mx-auto">
                  <mat-label class="labels text-left my-2">Periodo pago</mat-label>
                </div>
                <div class="row mx-auto">
                  <mat-form-field appearance="outline">
                    <mat-select name="payment_period" id="payment_period"
                                [(ngModel)]="selectedProduct.payment_period"
                                [ngModelOptions]="{standalone: true}">
                      <mat-option value="Al vencimiento">Al vencimiento</mat-option>
                      <mat-option value="Mensual">Mensual</mat-option>
                      <mat-option value="Anual">Anual</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <!--effective_term-->
                <div class="row mx-auto">
                  <mat-label class="labels text-left my-2">Plazo efectivizaci&oacute;n</mat-label>
                </div>
                <div class="row mx-auto">
                  <mat-form-field appearance="outline">
                    <input matInput type="number" name="effective_term" id="effective_term"
                           [(ngModel)]="selectedProduct.effective_term">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-12 col-sm-4 mx-auto">
                <!--capital_term-->
                <div class="row mx-auto">
                  <mat-label class="labels text-left my-2">Plazo capital</mat-label>
                </div>
                <div class="row mx-auto">
                  <mat-form-field appearance="outline">
                    <input matInput type="number" name="capital_term" id="capital_term"
                           [(ngModel)]="selectedProduct.capital_term">
                  </mat-form-field>
                </div>
                <!--confirmation_deadline-->
                <div class="row mx-auto">
                  <mat-label class="labels text-left my-2">Plazo confirmaci&oacute;n</mat-label>
                </div>
                <div class="row mx-auto">
                  <mat-form-field appearance="outline">
                    <input matInput type="number" name="confirmation_deadline" id="confirmation_deadline"
                           [(ngModel)]="selectedProduct.confirmation_deadline">
                  </mat-form-field>
                </div>
                <!--approved-->
                <div class="row mx-auto">
                  <mat-label class="labels text-left my-2">Requiere aprobaci&oacute;n</mat-label>
                </div>
                <div class="row mx-auto">
                  <mat-radio-group aria-label="Select an option">
                    <mat-radio-button class="mx-3" [value]="true">Si
                    </mat-radio-button>
                    <mat-radio-button class="mx-3" [value]="false">No
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
                <!--confirmed-->
                <div class="row mx-auto">
                  <mat-label class="labels text-left my-2">Requiere confirmaci&oacute;n factura</mat-label>
                </div>
                <div class="row mx-auto">
                  <mat-radio-group aria-label="Select an option">
                    <mat-radio-button class="mx-3" [value]="true">Si
                    </mat-radio-button>
                    <mat-radio-button class="mx-3" [value]="false">No
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
                <!--interest-->
                <div class="row mx-auto">
                  <mat-label class="labels text-left my-2">Cobro comisi&oacute;n</mat-label>
                </div>
                <div class="row mx-auto">
                  <mat-radio-group aria-label="Select an option">
                    <mat-radio-button class="mx-3" [value]="true">Si
                    </mat-radio-button>
                    <mat-radio-button class="mx-3" [value]="false">No
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
                <!--interest-->
                <div class="row mx-auto">
                  <mat-label class="labels text-left my-2">Cobro de seguro</mat-label>
                </div>
                <div class="row mx-auto">
                  <mat-radio-group aria-label="Select an option">
                    <mat-radio-button class="mx-3" [value]="true">Si
                    </mat-radio-button>
                    <mat-radio-button class="mx-3" [value]="false">No
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
                <!--interest-->
                <div class="row mx-auto">
                  <mat-label class="labels text-left my-2">Con recurso</mat-label>
                </div>
                <div class="row mx-auto">
                  <mat-radio-group aria-label="Select an option">
                    <mat-radio-button class="mx-3" [value]="true">Si
                    </mat-radio-button>
                    <mat-radio-button class="mx-3" [value]="false">No
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
                <!--interest-->
                <div class="row mx-auto">
                  <mat-label class="labels text-left my-2">La empresa requiere cr&eacute;dito</mat-label>
                </div>
                <div class="row mx-auto">
                  <mat-radio-group aria-label="Select an option">
                    <mat-radio-button class="mx-3" [value]="true">Si
                    </mat-radio-button>
                    <mat-radio-button class="mx-3" [value]="false">No
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
                <!--code-->
                <div class="row mx-auto">
                  <mat-label class="labels text-left my-2">C&oacute;digo empresa</mat-label>
                </div>
                <div class="row mx-auto">
                  <mat-form-field appearance="outline">
                    <input matInput type="text" name="code" id="code"
                           [(ngModel)]="selectedProduct.code">
                  </mat-form-field>
                </div>
                <!--product_status-->
                <div class="row mx-auto">
                  <mat-label class="labels text-left my-2">Estado</mat-label>
                </div>
                <div class="row mx-auto">
                  <mat-form-field appearance="outline">
                    <mat-select name="product_status" id="product_status" [(ngModel)]="selectedProduct.status"
                                [ngModelOptions]="{standalone: true}">
                      <mat-option value="Activo">Activo</mat-option>
                      <mat-option value="Inactivo">Inactivo</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <!--operation_term-->
                <div class="row mx-auto">
                  <mat-label class="labels text-left my-2">Plazo operaci&oacute;n</mat-label>
                </div>
                <div class="row mx-auto">
                  <mat-form-field appearance="outline">
                    <input matInput type="number" name="effective_term" id="operation_term"
                           [(ngModel)]="selectedProduct.operation_term">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!--buttons-->
            <div class="row justify-content-left justify-content-sm-end  mx-auto">
              <div class=" col-12  my-3 col-sm-3 text-center">
                <button class="btn  primaryBtn" id="saveProduct" (click)="saveProduct()">Guardar</button>
              </div>
              <div class=" col-12 my-3 col-sm-3 text-center">
                <button class="btn  secondaryBtn" id="cleanProduct" (click)="cleanProduct()">Limpiar</button>
              </div>
              <div class=" col-12 my-3 col-sm-3 text-center">
                <button class="btn  secondaryBtn" id="cancelProduct" (click)="cancelProduct()">Cancelar</button>
              </div>
            </div>
            <div class="row mx-auto my-3">
              <div class="col-12 col-sm-4 mr-auto">
                <!--business_GAF_code-->
                <div class="row mx-auto">
                  <mat-label class="labels text-left my-2">C&oacute;digo negocio GAF</mat-label>
                </div>
                <div class="row mx-auto">
                  <mat-form-field appearance="outline">
                    <mat-select name="business_GAF_code" id="business_GAF_code"
                                [(ngModel)]="selectedProduct.business_GAF_code"
                                [ngModelOptions]="{standalone: true}">
                      <mat-option value="101">101</mat-option>
                      <mat-option value="102">102</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-12 col-sm-4 mx-auto">
                <!--product_GAF_code-->
                <div class="row mx-auto">
                  <mat-label class="labels text-left my-2">C&oacute;digo producto GAF</mat-label>
                </div>
                <div class="row mx-auto">
                  <mat-form-field appearance="outline">
                    <mat-select name="product_GAF_code" id="product_GAF_code"
                                [(ngModel)]="selectedProduct.product_GAF_code"
                                [ngModelOptions]="{standalone: true}">
                      <mat-option value="305">305</mat-option>
                      <mat-option value="204">204</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!--buttons-->
            <div class="row justify-content-left justify-content-sm-end  mx-auto">
              <div class=" col-12  my-3 col-sm-3 text-center">
                <button class="btn  primaryBtn" id="saveProduct1" (click)="saveProduct()">Guardar</button>
              </div>
              <div class=" col-12 my-3 col-sm-3 text-center">
                <button class="btn  secondaryBtn" id="cleanProduct1" (click)="cleanProduct()">Limpiar</button>
              </div>
              <div class=" col-12 my-3 col-sm-3 text-center">
                <button class="btn  secondaryBtn" id="cancelProduct1" (click)="cancelProduct()">Cancelar</button>
              </div>
            </div>
          </ng-container>
        </ng-template>
      </mat-tab>
      <mat-tab label="Regionales">
        <ng-template matTabContent>
          <ng-container *ngIf="!editRegional">
            <!--buttons-->
            <div class="row justify-content-left justify-content-sm-end  mx-auto">
              <div class="col-9 col-md-11"></div>
              <div class=" col-3 my-1 mt-3 col-md-1">
                <button class="btn primarySmallBtn" id="createRegional" (click)="editRegional = !editRegional">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
            <div class="table-responsive">
              <table mat-table [dataSource]="regionals" class="my-3 table table-striped" >
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef class="text-center">
                    <b>ID</b>
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <b class="btn underline" (click)="editThisRegional(element)">{{element.id}}</b>
                  </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="product">
                  <th mat-header-cell *matHeaderCellDef class="text-center">
                    <b>Producto</b>
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.product}} </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="regional">
                  <th mat-header-cell *matHeaderCellDef class="text-center">
                    <b>Regional</b>
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <!-- status Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef class="text-center">
                    <b>Estados</b>
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>
                <!-- actions Column -->
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef class="text-center"></th>
                  <td mat-cell *matCellDef="let element">
                    <div class="btn mx-auto" (click)="editThisRegional(element)">
                      <mat-icon>edit</mat-icon>
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedRegionalColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedRegionalColumns;"></tr>
              </table>
            </div>
          </ng-container>
          <ng-container *ngIf="editRegional">
            <!--fields section-->
            <div class="row mx-auto my-3">
              <div class="col-12 col-sm-4 mr-auto">
                <!--product-->
                <div class="row mx-auto">
                  <mat-label class="labels text-left my-2">Producto</mat-label>
                </div>
                <div class="row mx-auto">
                  <mat-form-field appearance="outline">
                    <mat-select name="product" id="product"
                                [(ngModel)]="selectedRegional.product"
                                [ngModelOptions]="{standalone: true}">
                      <mat-option value="PROVEEDOR">PROVEEDOR</mat-option>
                      <mat-option value="DISTRIBUIDOR">DISTRIBUIDOR</mat-option>
                      <mat-option value="CLIENTE">CLIENTE</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <!--Cuenta pago 1-->
                <div class="row mx-auto">
                  <mat-label class="labels text-left my-2">Nombre regional</mat-label>
                </div>
                <div class="row mx-auto">
                  <mat-form-field appearance="outline">
                    <input matInput type="text" placeholder="Nombre regional" name="name" id="name"
                           [(ngModel)]="selectedRegional.name">
                  </mat-form-field>
                </div>
                <!--Cuenta pago 2-->
                <div class="row mx-auto">
                  <mat-label class="labels text-left my-2">Identificaci&oacute;n</mat-label>
                </div>
                <div class="row mx-auto">
                  <mat-form-field appearance="outline">
                    <input matInput type="text" placeholder="Identificaci&oacute;n" name="identification"
                           id="regionalIdentification"
                           [(ngModel)]="selectedRegional.identification">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-12 col-sm-4 mx-auto">
                <!--Cuenta desembolso-->
                <div class="row mx-auto">
                  <mat-label class="labels text-left my-2">Direcci&oacute;n</mat-label>
                </div>
                <div class="row mx-auto">
                  <mat-form-field appearance="outline">
                    <input matInput type="text" placeholder="Direcci&oacute;n" name="address" id="address"
                           [(ngModel)]="selectedRegional.address">
                  </mat-form-field>
                </div>
                <!--Cuenta desembolso-->
                <div class="row mx-auto">
                  <mat-label class="labels text-left my-2">Tel&eacute;fono</mat-label>
                </div>
                <div class="row mx-auto">
                  <mat-form-field appearance="outline">
                    <input matInput type="text" placeholder="Tel&eacute;fono" name="phone" id="phone"
                           [(ngModel)]="selectedRegional.phone">
                  </mat-form-field>
                </div>
                <!--Estado-->
                <div class="row mx-auto">
                  <mat-label class="labels text-left my-2">Estado</mat-label>
                </div>
                <div class="row mx-auto">
                  <mat-form-field appearance="outline">
                    <mat-select name="status" id="regionalStatus" [(ngModel)]="selectedRegional.status"
                                [ngModelOptions]="{standalone: true}">
                      <mat-option value="Activo">Activo</mat-option>
                      <mat-option value="Inactivo">Inactivo</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!--buttons-->
            <div class="row justify-content-left justify-content-sm-end  mx-auto">
              <div class=" col-12  my-3 col-sm-3 text-center">
                <button class="btn primaryBtn" id="saveRegional" (click)="saveRegional()">Guardar</button>
              </div>
              <div class=" col-12 my-3 col-sm-3 text-center">
                <button class="btn secondaryBtn" id="cleanRegional" (click)="cleanRegional()">Limpiar</button>
              </div>
              <div class=" col-12 my-3 col-sm-3 text-center">
                <button class="btn secondaryBtn" id="cancelRegional" (click)="cancelRegional()">Cancelar</button>
              </div>
            </div>
          </ng-container>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

