<div class="container">
  <!--search section-->
  <div class="row mt-sm-5 mt-3">
    <div class="col-12 col-sm-6 mx-auto">
      <h1 class="title text-center"> Detalle facturas proveedor</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6" *ngIf="searchType === 'provider'">
      <div class="row mx-auto">
        <mat-label class="col-12 mx-auto labels text-left my-2">Empresa</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline" class="col-12 mx-auto">
          <input type="text" placeholder="Empresa" matInput name="company"
                 [matAutocomplete]="company" [(ngModel)]="data.company"
                 (ngModelChange)="changeCompaniesSearch()">
          <mat-autocomplete #company="matAutocomplete">
            <mat-option *ngFor="let name of filteredCompaniesNames" [value]="name">
              {{name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-sm-6" *ngIf="searchType === 'company'">
      <div class="row mx-auto">
        <mat-label class="col-12 mx-auto labels text-left my-2">Cliente proveedor</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline" class="col-12 mx-auto">
          <input type="text" placeholder="Cliente proveedor" matInput
                 name="provider" [matAutocomplete]="provider" [(ngModel)]="data.provider"
                 (ngModelChange)="changeProvidersSearch()">
          <mat-autocomplete #provider="matAutocomplete">
            <mat-option *ngFor="let name of filteredProvidersNames" [value]="name">
              {{name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6">
      <div class="row mx-auto">
        <mat-label class=" col-12 mx-auto labels text-left my-2">Desde:</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline" class="col-12 mx-auto">
          <input matInput [matDatepicker]="datepicker" [(ngModel)]="data.selectedStartDate" name="selectedStartDate">
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancelar</button>
              <button mat-raised-button color="primary" matDatepickerApply>Seleccionar</button>
            </mat-datepicker-actions>
          </mat-datepicker>

        </mat-form-field>

      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="row mx-auto">
        <mat-label class=" col-12 mx-auto labels text-left my-2">Hasta:</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline" class="col-12 mx-auto">
          <input matInput [matDatepicker]="datepicker1" [(ngModel)]="data.selectedEndDate" name="selectedEndDate">
          <mat-datepicker-toggle matSuffix [for]="datepicker1"></mat-datepicker-toggle>
          <mat-datepicker #datepicker1>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancelar</button>
              <button mat-raised-button color="primary" matDatepickerApply>Seleccionar</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6">
      <div class="row mx-auto">
        <mat-label class=" col-12 mx-auto labels text-left my-2">Estado factura</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline" class="col-12 mx-auto">
          <mat-select [(ngModel)]="data.type" name="type">
            <mat-option *ngFor="let type of invoiceTypes" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="row mx-auto">
        <mat-label class=" col-12 mx-auto labels text-left my-2">Número factura</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline" class="col-12 mx-auto">
          <input matInput type="number" name="number" id="number"
                 [(ngModel)]="data.number" (ngModelChange)="validateNumber(15)">
        </mat-form-field>
      </div>
      <div class="row">
        <div class="errors col-12 mx-auto text-center my-2">
          {{errorNumber}}
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3 justify-content-center">
    <div class="col-md-3 col-12 text-center text-md-right ">
      <button class="btn primaryBtn px-5 my-2 mx-2 " mat-button
              [disabled]="(!data.company && !data.provider) || !searchType "
              (click)="search()">Buscar
      </button>
    </div>
    <div class="col-md-3 col-12 text-center text-md-left ">
      <button class="btn secondaryBtn px-5 my-2 mx" mat-button (click)="clean()">Limpiar</button>
    </div>
  </div>
  <!--provider section-->
  <div class="row justify-content-left justify-content-sm-end mx-auto"
       *ngIf="providerInvoices.length>0 && searchType === 'provider'">
    <div class="col-12 col-sm-11">
      <h4 class="title mt-4">Listado facturas proveedor</h4>
    </div>
    <div class=" col-12 col-sm-1 text-center">
      <img src="../assets/img/excel.png" class="cursor img-fluid excel-image"
           alt="Excel">
      <p class="underline text-center cursor">Descargar</p>
    </div>
  </div>
  <div class="row justify-content-center"
       *ngIf="providerInvoices.length>0 && searchType === 'provider'">
    <div class="col-12 my-3">
      <p class="table-description">Se muestran {{providerInvoices.length}} de un total de {{providerInvoices.length}}
        empresas</p>
      <div class="table-responsive">
        <table mat-table [dataSource]="providerInvoicesDataSource" class=" table table-striped">

          <!-- RUC Column -->
          <ng-container matColumnDef="ruc">
            <th mat-header-cell *matHeaderCellDef class="text-center">
              RUC
            </th>
            <td mat-cell *matCellDef="let element"> {{element.ruc}} </td>
          </ng-container>

          <!-- Company Column -->
          <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef class="text-center">
              Empresa
            </th>
            <td mat-cell *matCellDef="let element"> {{element.company}} </td>
          </ng-container>

          <!-- Provider Id Column -->
          <ng-container matColumnDef="provider_id">
            <th mat-header-cell *matHeaderCellDef class="text-center">
              ID proveedor
            </th>
            <td mat-cell *matCellDef="let element"> {{element.provider_id}} </td>
          </ng-container>

          <!-- Client Provider Column -->
          <ng-container matColumnDef="client_provider">
            <th mat-header-cell *matHeaderCellDef class="text-center">
              Cliente proveedor
            </th>
            <td mat-cell *matCellDef="let element"> {{element.client_provider}} </td>
          </ng-container>

          <!-- invoice_number Column -->
          <ng-container matColumnDef="invoice_number">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Número factura</b></th>
            <td mat-cell *matCellDef="let element"> {{element.invoice_number}} </td>
          </ng-container>

          <!-- invoice_amount Column -->
          <ng-container matColumnDef="invoice_amount">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Monto factura</b></th>
            <td mat-cell *matCellDef="let element">$ {{element.invoice_amount | currency:'':'':'1.2-2':'es'}} </td>
          </ng-container>

          <!-- start_date Column -->
          <ng-container matColumnDef="start_date">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Fecha ingreso</b></th>
            <td mat-cell *matCellDef="let element"> {{element.start_date}} </td>
          </ng-container>

          <!-- advance_date Column -->
          <ng-container matColumnDef="advance_date">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Fecha anticipo factura</b></th>
            <td mat-cell *matCellDef="let element"> {{element.advance_date}} </td>
          </ng-container>

          <!-- advance_provider_cuota Column -->
          <ng-container matColumnDef="advance_provider_cuota">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Tasa anticipo proveedor</b></th>
            <td mat-cell *matCellDef="let element">$ {{element.advance_provider_cuota | currency:'':'':'1.2-2':'es'}} % </td>
          </ng-container>

          <!-- advance_value Column -->
          <ng-container matColumnDef="advance_value">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Valor anticipo</b></th>
            <td mat-cell *matCellDef="let element">$ {{element.advance_value  | currency:'':'':'1.2-2':'es'}} </td>
          </ng-container>

          <!-- solca Column -->
          <ng-container matColumnDef="solca">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Solca</b></th>
            <td mat-cell *matCellDef="let element">$ {{element.solca  | currency:'':'':'1.2-2':'es'}} </td>
          </ng-container>

          <!-- payment_date Column -->
          <ng-container matColumnDef="payment_date">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Fecha pago factura</b></th>
            <td mat-cell *matCellDef="let element"> {{element.payment_date}} </td>
          </ng-container>

          <!-- status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Estado</b></th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>

          <!-- firstHeadersRow -->
          <tr mat-header-row *matHeaderRowDef="providerInvoicesHeaders"></tr>
          <tr mat-row *matRowDef="let row; columns: providerInvoicesHeaders;"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[10, 20, 50, 100, 200, 300]"
                     showFirstLastButtons
                     aria-label="Seleccione la pagina">
      </mat-paginator>
      <section class="example-section" [formGroup]="providerInvoiceFields">
        <h4 class="my-2"><b>Agregar columnas:</b></h4>
        <div class="row justify-content-center justify-content-sm-start">
          <p class="col-12 col-sm-3 text-left">
            <mat-checkbox formControlName="ruc" (ngModelChange)="updateProviderInvoicesTable()">
              RUC
            </mat-checkbox>
          </p>
          <p class="col-12 col-sm-3 text-left">
            <mat-checkbox formControlName="company" (ngModelChange)="updateProviderInvoicesTable()">
              EMPRESA
            </mat-checkbox>
          </p>
          <p class="col-12 col-sm-3 text-left">
            <mat-checkbox formControlName="provider_id" (ngModelChange)="updateProviderInvoicesTable()">
              ID PROVEEDOR
            </mat-checkbox>
          </p>
          <p class="col-12 col-sm-3 text-left">
            <mat-checkbox formControlName="client_provider" (ngModelChange)="updateProviderInvoicesTable()">
              CLIENTE PROVEEDOR
            </mat-checkbox>
          </p>
          <p class="col-12 col-sm-3 text-left">
            <mat-checkbox formControlName="advance_provider_cuota" (ngModelChange)="updateProviderInvoicesTable()">
              TASA ANTICIPO PROVEEDOR
            </mat-checkbox>
          </p>
          <p class="col-12 col-sm-3 text-left">
            <mat-checkbox formControlName="advance_value" (ngModelChange)="updateProviderInvoicesTable()">
              VALOR ANTICIPO
            </mat-checkbox>
          </p>
          <p class="col-12 col-sm-3 text-left">
            <mat-checkbox formControlName="solca" (ngModelChange)="updateProviderInvoicesTable()">
              SOLCA
            </mat-checkbox>
          </p>

        </div>
      </section>


    </div>
  </div>
  <!--company section-->
  <div class="row justify-content-left justify-content-sm-end mx-auto"
       *ngIf="companyInvoices.length>0 && searchType === 'company'">
    <div class="col-12 col-sm-11">
      <h4 class="title mt-4">Listado facturas empresa</h4>
    </div>
    <div class=" col-12 col-sm-1 text-center">
      <img src="../assets/img/excel.png" class="cursor img-fluid excel-image"
           alt="Excel">
      <p class="underline text-center cursor">Descargar</p>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="companyInvoices.length>0 && searchType === 'company'">
    <div class="col-12 my-3">
      <p class="table-description">Se muestran {{companyInvoices.length}} de un total de {{companyInvoices.length}}
        proveedores</p>
      <div class="table-responsive">
        <table mat-table [dataSource]="companyInvoicesDataSource" class=" table table-striped">

          <!-- RUC Column -->
          <ng-container matColumnDef="ruc">
            <th mat-header-cell *matHeaderCellDef class="text-center">
              RUC
            </th>
            <td mat-cell *matCellDef="let element"> {{element.ruc}} </td>
          </ng-container>

          <!-- Company Column -->
          <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef class="text-center">
              Empresa
            </th>
            <td mat-cell *matCellDef="let element"> {{element.company}} </td>
          </ng-container>

          <!-- Provider Id Column -->
          <ng-container matColumnDef="provider_id">
            <th mat-header-cell *matHeaderCellDef class="text-center">
              ID proveedor
            </th>
            <td mat-cell *matCellDef="let element"> {{element.provider_id}} </td>
          </ng-container>

          <!-- Client Provider Column -->
          <ng-container matColumnDef="client_provider">
            <th mat-header-cell *matHeaderCellDef class="text-center">
              Cliente proveedor
            </th>
            <td mat-cell *matCellDef="let element"> {{element.client_provider}} </td>
          </ng-container>

          <!-- invoice_number Column -->
          <ng-container matColumnDef="invoice_number">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Número factura</b></th>
            <td mat-cell *matCellDef="let element"> {{element.invoice_number}} </td>
          </ng-container>

          <!-- invoice_amount Column -->
          <ng-container matColumnDef="invoice_amount">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Monto factura</b></th>
            <td mat-cell *matCellDef="let element">$ {{element.invoice_amount | currency:'':'':'1.2-2':'es'}} </td>
          </ng-container>

          <!-- start_date Column -->
          <ng-container matColumnDef="start_date">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Fecha ingreso</b></th>
            <td mat-cell *matCellDef="let element"> {{element.start_date}} </td>
          </ng-container>

          <!-- solca Column -->
          <ng-container matColumnDef="solca">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Solca</b></th>
            <td mat-cell *matCellDef="let element">$ {{element.solca | currency:'':'':'1.2-2':'es'}} </td>
          </ng-container>

          <!-- payment_date Column -->
          <ng-container matColumnDef="payment_date">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Fecha pago factura</b></th>
            <td mat-cell *matCellDef="let element"> {{element.payment_date}} </td>
          </ng-container>

          <!-- credit_cuota Column -->
          <ng-container matColumnDef="credit_cuota">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Tasa crédito</b></th>
            <td mat-cell *matCellDef="let element"> {{element.credit_cuota | currency:'':'':'1.2-2':'es'}} %</td>
          </ng-container>

          <!-- interest_value Column -->
          <ng-container matColumnDef="interest_value">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Valor interés</b></th>
            <td mat-cell *matCellDef="let element">$ {{element.interest_value | currency:'':'':'1.2-2':'es'}} </td>
          </ng-container>

          <!-- credit_operation_number Column -->
          <ng-container matColumnDef="credit_operation_number">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Número operación crédito</b></th>
            <td mat-cell *matCellDef="let element"> {{element.credit_operation_number}} </td>
          </ng-container>

          <!-- credit_expiration_date Column -->
          <ng-container matColumnDef="credit_expiration_date">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Fecha vencimiento crédito</b></th>
            <td mat-cell *matCellDef="let element"> {{element.credit_expiration_date}} </td>
          </ng-container>

          <!-- default_days Column -->
          <ng-container matColumnDef="default_days">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Días mora</b></th>
            <td mat-cell *matCellDef="let element"> {{element.default_days}} </td>
          </ng-container>

          <!-- default_interest Column -->
          <ng-container matColumnDef="default_interest">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Interés mora</b></th>
            <td mat-cell *matCellDef="let element">$ {{element.default_interest | currency:'':'':'1.2-2':'es'}}</td>
          </ng-container>

          <!-- status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Estado</b></th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>

          <!-- firstHeadersRow -->
          <tr mat-header-row *matHeaderRowDef="companyInvoicesHeaders"></tr>
          <tr mat-row *matRowDef="let row; columns: companyInvoicesHeaders;"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[10, 20, 50, 100, 200, 300]"
                     showFirstLastButtons
                     aria-label="Seleccione la pagina">
      </mat-paginator>
      <section class="example-section" [formGroup]="companyInvoiceFields">
        <h4 class="my-2"><b>Agregar columnas:</b></h4>
        <div class="row justify-content-center justify-content-sm-start">
          <p class="col-12 col-sm-3 text-left">
            <mat-checkbox formControlName="ruc" (ngModelChange)="updateCompanyInvoicesTable()">
              RUC
            </mat-checkbox>
          </p>
          <p class="col-12 col-sm-3 text-left">
            <mat-checkbox formControlName="company" (ngModelChange)="updateCompanyInvoicesTable()">
              EMPRESA
            </mat-checkbox>
          </p>
          <p class="col-12 col-sm-3 text-left">
            <mat-checkbox formControlName="provider_id" (ngModelChange)="updateCompanyInvoicesTable()">
              ID PROVEEDOR
            </mat-checkbox>
          </p>
          <p class="col-12 col-sm-3 text-left">
            <mat-checkbox formControlName="client_provider" (ngModelChange)="updateCompanyInvoicesTable()">
              CLIENTE PROVEEDOR
            </mat-checkbox>
          </p>

          <p class="col-12 col-sm-3 text-left">
            <mat-checkbox formControlName="solca" (ngModelChange)="updateCompanyInvoicesTable()">
              SOLCA
            </mat-checkbox>
          </p>
          <p class="col-12 col-sm-3 text-left">
            <mat-checkbox formControlName="credit_cuota" (ngModelChange)="updateCompanyInvoicesTable()">
              TASA CRÉDITO
            </mat-checkbox>
          </p>
          <p class="col-12 col-sm-3 text-left">
            <mat-checkbox formControlName="interest_value" (ngModelChange)="updateCompanyInvoicesTable()">
              VALOR INTERÉS
            </mat-checkbox>
          </p>
          <p class="col-12 col-sm-3 text-left">
            <mat-checkbox formControlName="default_interest" (ngModelChange)="updateCompanyInvoicesTable()">
              INTERÉS MORA
            </mat-checkbox>
          </p>
        </div>
      </section>
    </div>
  </div>

</div>

