<div class="container">
  <div class="row">
    <div class="btn col-2 text-left" (click)="back()">
      <mat-icon class="arrowIcon">arrow_back</mat-icon>
    </div>
    <div class=" col-10 row">
      <div class="col-md-6 col-12 text-left">
        <h3 class="title">{{company?.name}}</h3>
      </div>
      <div class="col-md-6 col-12 text-left">
        <h3 class="title">{{company?.id_number}}</h3>
      </div>
    </div>
  </div>


  <div class="row ">
    <mat-label class="labels text-left my-2">Informaci&oacute;n facilidades</mat-label>
  </div>
  <div class="table-responsive">
    <table mat-table [dataSource]="facilities" class="my-4 table table-striped">
      <ng-container matColumnDef="facilities">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="7" class="text-center"><b>Cupo corto plazo</b></th>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" class="text-center">
          <b>Facilidad</b>
        </th>
        <td mat-cell *matCellDef="let element" style="min-width: 180px !important;"><b>{{element.name}}</b></td>
      </ng-container>


      <!-- approved_short_term Column -->
      <ng-container matColumnDef="approved_short_term">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <b>Cupo aprobado</b>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.approved_short_term | currency:'':'':'1.2-2':'es'}} </td>
      </ng-container>
      <!-- available_short_term Column -->
      <ng-container matColumnDef="available_short_term">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <b>Cupo disponible</b>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.available_short_term | currency:'':'':'1.2-2':'es'}} </td>
      </ng-container>
      <!-- available_short_term Column -->
      <ng-container matColumnDef="blocked_short_term">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <b>Cupo bloqueado</b>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.blocked_short_term | currency:'':'':'1.2-2':'es'}} </td>
      </ng-container>
      <!-- available_short_term Column -->
      <ng-container matColumnDef="used_short_term">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <b>Cupo usado</b>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.used_short_term | currency:'':'':'1.2-2':'es'}} </td>
      </ng-container>
      <!-- available_short_term Column -->
      <ng-container matColumnDef="expiration_date">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <b>Fecha expiraci&oacute;n</b>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.expiration_date}} </td>
      </ng-container>


      <!-- firstHeadersRow -->
      <tr mat-header-row *matHeaderRowDef="firstHeadersRow"></tr>
      <!-- secondHeadersRow -->
      <tr mat-header-row *matHeaderRowDef="thirdHeadersRow"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedFacilitiesColumns"></tr>

    </table>
  </div>

</div>

