<div class="container">
  <div class="row mt-sm-5 mt-3">
    <div class="col-12 col-sm-6 mx-auto">
      <h1 class="title text-center"> Detalle empresas proveedor</h1>
    </div>
  </div>

  <div class="row justify-content-center" *ngIf="searchType === 'company'">
    <div class="col-12 col-sm-6">
      <div class="row mx-auto">
        <mat-label class="col-12 mx-auto labels text-left my-2">Cliente proveedor</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline" class="col-12 mx-auto">
          <input type="text" placeholder="Cliente proveedor" matInput
                 name="provider" [matAutocomplete]="provider" [(ngModel)]="data.provider"
                 (ngModelChange)="changeProvidersSearch()">
          <mat-autocomplete #provider="matAutocomplete">
            <mat-option *ngFor="let name of filteredProvidersNames" [value]="name">
              {{name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="row mx-auto">
        <mat-label class="col-12 mx-auto labels text-left my-2">Id proveedor</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline" class="col-12 mx-auto">
          <input type="text" placeholder="Id proveedor" matInput name="id_provider"
                 [(ngModel)]="data.id_provider">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="searchType === 'provider'">
    <div class="col-12 col-sm-6">
      <div class="row mx-auto">
        <mat-label class="col-12 mx-auto labels text-left my-2">Empresa</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline" class="col-12 mx-auto">
          <input type="text" placeholder="Empresa" matInput name="company"
                 [matAutocomplete]="company" [(ngModel)]="data.company"
                 (ngModelChange)="changeCompaniesSearch()">
          <mat-autocomplete #company="matAutocomplete">
            <mat-option *ngFor="let name of filteredCompaniesNames" [value]="name">
              {{name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="row mx-auto">
        <mat-label class="col-12 mx-auto labels text-left my-2">Id empresa</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline" class="col-12 mx-auto">
          <input type="text" placeholder="Id empresa" matInput
                 name="provider" [(ngModel)]="data.id_company">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row mt-3 justify-content-center">
    <div class="col-6 text-center ">

    </div>
  </div>
  <div class="row mt-3 justify-content-center">
    <div class="col-md-3 col-12 text-center text-md-right ">
      <button class="btn primaryBtn px-5 my-2 mx-auto " mat-button
              [disabled]="!searchType "
              (click)="search()">Buscar
      </button>
    </div>
    <div class="col-md-3 col-12 text-center text-md-left ">
      <button class="btn secondaryBtn px-5 my-2 mx-auto" mat-button (click)="clean()">Limpiar</button>
    </div>
  </div>


  <div class="row justify-content-left justify-content-sm-end mx-auto"
       *ngIf="companies.length>0 && searchType === 'provider'">
    <div class="col-12 col-sm-11">
      <h4 class="title mt-4">Empresas del proveedor</h4>
    </div>
    <div class=" col-12 col-sm-1 text-center">
      <img src="../assets/img/excel.png" class="cursor img-fluid excel-image"
           alt="Excel">
      <p class="underline text-center cursor">Descargar</p>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="companies.length>0 && searchType === 'provider'">
    <mat-form-field appearance="outline" class="col-12 col-sm-5 mx-auto">
      <mat-label>Filtro por estado</mat-label>
      <mat-select [(ngModel)]="filter" name="idType" (ngModelChange)="applyCompanyFilter($event)">
        <mat-option [value]="null">
          TODOS
        </mat-option>
        <mat-option *ngFor="let type of filterTypes" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row justify-content-center" *ngIf="companies.length>0 && searchType === 'provider'">
    <div class="col-12 my-3">
      <p class="table-description">Se muestran {{companies.length}} de un total de {{companies.length}} empresas</p>
      <div class="table-responsive">
        <table mat-table [dataSource]="companyDataSource" class=" table table-striped">

          <!-- identification Column -->
          <ng-container matColumnDef="company_identification">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>RUC</b></th>
            <td mat-cell *matCellDef="let element"> {{element.identification}} </td>
          </ng-container>

          <!-- company Column -->
          <ng-container matColumnDef="company_name">
            <th mat-header-cell *matHeaderCellDef class="text-center">
              Empresa
            </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- provider_advance_rate Column -->
          <ng-container matColumnDef="provider_advance_rate">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Tasa anticipo proveedor</b></th>
            <td mat-cell *matCellDef="let element"> {{element.provider_advance_rate | currency:'':'':'1.2-2':'es'}} %</td>
          </ng-container>

          <!-- payment_account Column -->
          <ng-container matColumnDef="payment_account">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Cuenta de pago proveedor</b></th>
            <td mat-cell *matCellDef="let element"> {{element.payment_account}} </td>
          </ng-container>

          <!-- provider_email Column -->
          <ng-container matColumnDef="provider_email">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Email proveedor</b></th>
            <td mat-cell *matCellDef="let element"> {{element.provider_email}} </td>
          </ng-container>


          <!-- status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Estado</b></th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>

          </ng-container>

          <!-- address Column -->
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Dirección</b></th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
          </ng-container>

          <!-- phone Column -->
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Teléfono</b></th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
          </ng-container>

          <!-- phone Column -->
          <ng-container matColumnDef="cellphone">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Número celular</b></th>
            <td mat-cell *matCellDef="let element"> {{element.cellphone}} </td>
          </ng-container>

          <!-- firstHeadersRow -->
          <tr mat-header-row *matHeaderRowDef="companyHeaders"></tr>
          <tr mat-row *matRowDef="let row; columns: companyHeaders;"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[10, 20, 50, 100, 200, 300]"
                     showFirstLastButtons
                     aria-label="Seleccione la pagina">
      </mat-paginator>
      <section class="example-section" [formGroup]="extraFields">
        <h4 class="my-2"><b>Agregar columnas:</b></h4>
        <div class="row justify-content-center">
          <p class="col-12 col-sm-3 text-center">
            <mat-checkbox formControlName="status" (ngModelChange)="updateTable()">
              ESTADO
            </mat-checkbox>
          </p>
          <p class="col-12 col-sm-3 text-center">
            <mat-checkbox formControlName="address" (ngModelChange)="updateTable()">
              DIRECCIÓN
            </mat-checkbox>
          </p>
          <p class="col-12 col-sm-3 text-center">
            <mat-checkbox formControlName="phone" (ngModelChange)="updateTable()">
              TELÉFONO
            </mat-checkbox>
          </p>
          <p class="col-12 col-sm-3 text-center">
            <mat-checkbox formControlName="cellphone" (ngModelChange)="updateTable()">
              NÚMERO CELULAR
            </mat-checkbox>
          </p>
        </div>
      </section>


    </div>
  </div>

  <div class="row justify-content-center mx-auto mt-2"
       *ngIf="providers.length>0 && searchType === 'company'">
    <hr class="my-4">
    <div class="col-12 text-left">
      <p><b class="labels">Facilidad: </b>{{companyData.ease}}</p>
    </div>
    <div class="col-12 col-sm-6">
      <p><b class="labels">Fecha aprobación línea de crédito: </b>{{companyData.credit_line_approval_date}}</p>
      <p><b class="labels">Cupo aprobado: </b>$ {{companyData.approved_quota | currency:'':'':'1.2-2':'es'}}</p>
      <p><b class="labels">Cupo disponible: </b>$ {{companyData.available_quota | currency:'':'':'1.2-2':'es'}}</p>
    </div>
    <div class="col-12 col-sm-6">
      <p><b class="labels">Fecha expiración línea de crédito: </b>{{companyData.credit_line_expiration_date}}</p>
      <p><b class="labels">Cupo bloqueado: </b>$ {{companyData.blocked_quota | currency:'':'':'1.2-2':'es'}}</p>
      <p><b class="labels">Cupo utilizado: </b>$ {{companyData.used_quota | currency:'':'':'1.2-2':'es'}}</p>
    </div>

    <hr class="my-4">

  </div>

  <div class="row justify-content-left justify-content-sm-end mx-auto"
       *ngIf="providers.length>0 && searchType === 'company'">
    <div class="col-12 col-sm-11">
      <h4 class="title mt-4">Proveedores de la empresa</h4>
    </div>
    <div class=" col-12 col-sm-1 text-center">
      <img src="../assets/img/excel.png" class="cursor img-fluid excel-image"
           alt="Excel">
      <p class="underline text-center cursor">Descargar</p>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="providers.length>0 && searchType === 'company'">
    <mat-form-field appearance="outline" class="col-12 col-sm-5 mx-auto">
      <mat-label>Filtro por estado</mat-label>
      <mat-select [(ngModel)]="filter" name="idType" (ngModelChange)="applyProviderFilter($event)">
        <mat-option [value]="null">
          TODOS
        </mat-option>
        <mat-option *ngFor="let type of filterTypes" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row justify-content-center" *ngIf="providers.length>0 && searchType === 'company'">
    <div class="col-12 my-3">
      <p class="table-description">Se muestran {{providers.length}} de un total de {{providers.length}} proveedores</p>
      <div class="table-responsive">
        <table mat-table [dataSource]="providerDataSource" class=" table table-striped">

          <!-- company_identification Column -->
          <ng-container matColumnDef="identification">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>ID proveedor</b></th>
            <td mat-cell *matCellDef="let element"> {{element.identification}} </td>
          </ng-container>

          <!-- company Column -->
          <ng-container matColumnDef="provider">
            <th mat-header-cell *matHeaderCellDef class="text-center">
              Cliente proveedor
            </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- provider_advance_rate Column -->
          <ng-container matColumnDef="provider_advance_rate">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Tasa anticipo proveedor</b></th>
            <td mat-cell *matCellDef="let element"> {{element.provider_advance_rate | currency:'':'':'1.2-2':'es'}} %</td>
          </ng-container>

          <!-- payment_account Column -->
          <ng-container matColumnDef="payment_account">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Cuenta de pago proveedor</b></th>
            <td mat-cell *matCellDef="let element"> {{element.payment_account}} </td>
          </ng-container>

          <!-- provider_email Column -->
          <ng-container matColumnDef="provider_email">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Email proveedor</b></th>
            <td mat-cell *matCellDef="let element"> {{element.provider_email}} </td>
          </ng-container>


          <!-- status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Estado</b></th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>

          </ng-container>

          <!-- address Column -->
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Dirección</b></th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
          </ng-container>

          <!-- phone Column -->
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Teléfono</b></th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
          </ng-container>

          <!-- phone Column -->
          <ng-container matColumnDef="cellphone">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Número celular</b></th>
            <td mat-cell *matCellDef="let element"> {{element.cellphone}} </td>
          </ng-container>

          <!-- firstHeadersRow -->
          <tr mat-header-row *matHeaderRowDef="providerHeaders"></tr>
          <tr mat-row *matRowDef="let row; columns: providerHeaders;"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[10, 20, 50, 100, 200, 300]"
                     showFirstLastButtons
                     aria-label="Seleccione la pagina">
      </mat-paginator>
      <section class="example-section" [formGroup]="extraFields">
        <h4 class="my-2"><b>Agregar columnas:</b></h4>
        <div class="row justify-content-center">
          <p class="col-12 col-sm-3 text-center">
            <mat-checkbox formControlName="status" (ngModelChange)="updateTable()">
              ESTADO
            </mat-checkbox>
          </p>
          <p class="col-12 col-sm-3 text-center">
            <mat-checkbox formControlName="address" (ngModelChange)="updateTable()">
              DIRECCIÓN
            </mat-checkbox>
          </p>
          <p class="col-12 col-sm-3 text-center">
            <mat-checkbox formControlName="phone" (ngModelChange)="updateTable()">
              TELÉFONO
            </mat-checkbox>
          </p>
          <p class="col-12 col-sm-3 text-center">
            <mat-checkbox formControlName="cellphone" (ngModelChange)="updateTable()">
              NÚMERO CELULAR
            </mat-checkbox>
          </p>
        </div>
      </section>


    </div>
  </div>

</div>

