<div class="container">
  <div class="row">
    <div class="btn col-2 text-left" (click)="clean()">
      <mat-icon class="arrowIcon">arrow_back</mat-icon>
    </div>
    <div class="col-9 text-left">
      <h4 class="title">Datos cliente proveedor</h4>
    </div>
  </div>

  <!--provider is natural-->
  <div class="row mt-3" *ngIf="naturalProviderData !== null && legalProviderData === null">
    <!--info section-->
    <div class="row mx-auto">

      <div class="col-12 col-sm-4 mx-auto">
        <!--identification type-->
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Tipo identificaci&oacute;n</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="content text-left my-2">C&eacute;dula de identidad</mat-label>
        </div>
        <!--identification number-->
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">N&uacute;mero identificaci&oacute;n</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="content text-left my-2">{{naturalProviderData.idNumber}}</mat-label>
        </div>
        <!--client type-->
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Tipo de cliente</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="content text-left my-2">Persona natural</mat-label>
        </div>
      </div>

      <div class="col-12 col-sm-4 mx-auto">
        <!--full name-->
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Nombres completos</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="content text-left my-2">{{naturalProviderData.name}}</mat-label>
        </div>
        <!--nationality-->
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Nacionalidad</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="content text-left my-2">{{naturalProviderData.nationality}}</mat-label>
        </div>
        <!--activity-->
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Actividad</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="content text-left my-2">{{naturalProviderData.activity}}</mat-label>
        </div>
      </div>

      <div class="col-12 col-sm-4 mx-auto">
        <!--address-->
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Direcci&oacute;n</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="content text-left my-2">{{naturalProviderData.address}}</mat-label>
        </div>
        <!--phone-->
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Tel&eacute;fono</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="content text-left my-2">{{naturalProviderData.phone}}</mat-label>
        </div>
        <!--cell phone-->
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">N&uacute;mero celular</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="content text-left my-2">{{naturalProviderData.mobilePhone}}</mat-label>
        </div>
      </div>

    </div>
    <!--fields section-->
    <div class="row my-3 mx-auto">

      <div class="col-12 col-sm-4 mr-auto">
        <!--civil state-->
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Estado civil</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-form-field appearance="outline">
            <mat-select name="naturalCivilStatus" id="naturalCivilStatus" [(ngModel)]="naturalCivilStatus"
                        [ngModelOptions]="{standalone: true}">
              <mat-option value="Soltero">Soltero</mat-option>
              <mat-option value="Casado">Casado</mat-option>
              <mat-option value="Divorciado">Divorciado</mat-option>
              <mat-option value="Union Libre">Unión Libre</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!--email-->
       <!-- <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Email</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-form-field appearance="outline">
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let email of naturalProviderData.emails; let i = index;" [selectable]="true"
                        [removable]="true" (removed)="emails.splice(i, 1)">
                {{email}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input type="email" placeholder="usuario@dominio.com" [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addEmail($event)" name="naturalEmails"
                     id="naturalEmails" [(ngModel)]="email" (ngModelChange)="emailEntry()"
                     matTooltip="Puedes ingresar hasta 10 correos electrónicos válidos"
                     matTooltipPosition="above">
            </mat-chip-list>
          </mat-form-field>
          <div class="row errors text-center mx-auto my-3" *ngIf="errorEmail != null">
            {{errorEmail}}
          </div>
          <div class="row errors text-center mx-auto my-3" *ngIf="errorEmails != null">{{errorEmails}}</div>
        </div>-->
      </div>

      <div class="col-12 col-sm-4 mx-auto">
        <!--Cédula de Identidad Cónyuge-->
        <div class="row mx-auto" *ngIf="naturalCivilStatus == 'Casado' || naturalCivilStatus == 'Union Libre'">
          <mat-label class="labels text-left my-2">Cédula de identidad cónyuge</mat-label>
        </div>
        <div class="row mx-auto" *ngIf="naturalCivilStatus == 'Casado' || naturalCivilStatus == 'Union Libre'">
          <mat-form-field appearance="outline">
            <input matInput type="number" placeholder="1709876543" name="naturaIdSpouse" id="naturaIdSpouse"
                   [(ngModel)]="naturalSpouseId">
          </mat-form-field>
        </div>
        <!--Nombres Completos Cónyuge-->
        <div class="row mx-auto" *ngIf="naturalCivilStatus == 'Casado' || naturalCivilStatus == 'Union Libre'">
          <mat-label class="labels text-left my-2">Nombres completos cónyuge</mat-label>
        </div>
        <div class="row mx-auto" *ngIf="naturalCivilStatus == 'Casado' || naturalCivilStatus == 'Union Libre'">
          <mat-form-field appearance="outline">
            <input matInput type="text" placeholder="María Luisa Montero Castillo" name="naturaSpouseName"
                   id="naturaSpouseName" [(ngModel)]="naturalSpouseName">
          </mat-form-field>
        </div>

      </div>

    </div>

  </div>

  <!--provider is juridical-->
  <div class="row mt-3" *ngIf="legalProviderData != null && naturalProviderData == null">
    <!--info section-->
    <div class="row mx-auto">

      <div class="col-12 col-sm-4 mx-auto">
        <!--identification type-->
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Tipo identificaci&oacute;n</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="content text-left my-2">RUC</mat-label>
        </div>
        <!--identification number-->
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">N&uacute;mero identificaci&oacute;n</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="content text-left my-2">{{legalProviderData.idNumber}}</mat-label>
        </div>
      </div>

      <div class="col-12 col-sm-4 mx-auto">
        <!--client type-->
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Tipo de cliente</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="content text-left my-2">Persona jurídica</mat-label>
        </div>
        <!--company name-->
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Nombre empresa</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="content text-left my-2">{{legalProviderData.name}}</mat-label>
        </div>
      </div>

      <div class="col-12 col-sm-4 mx-auto">
        <!--activity-->
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Actividad de la empresa</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="content text-left my-2">{{legalProviderData.activity}}</mat-label>
        </div>
        <!--address-->
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Direcci&oacute;n de la empresa</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="content text-left my-2">{{legalProviderData.address}}</mat-label>
        </div>
        <!--company phone-->
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Tel&eacute;fono de la empresa</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="content text-left my-2">{{companyPhone}}</mat-label>
        </div>
      </div>

    </div>
    <!--fields section-->
    <div class="row my-1 my-md-3 mx-auto">

      <div class="col-12 col-sm-4 mr-auto">
        <!--ID Representante Legal-->
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">ID representante legal</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-form-field appearance="outline">
            <input matInput type="tel" placeholder="1712345673" name="legalRepresentativeID" id="legalRepresentativeID"
                   [(ngModel)]="idLegalRepresentative">
          </mat-form-field>
        </div>

        <!--Cargo del Representante Legal-->
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Cargo del representante legal</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-form-field appearance="outline">
            <input matInput type="tel" placeholder="Subgerente" name="legalRepresentativePosition"
                   id="legalRepresentativePosition" [(ngModel)]="legalRepresentativePosition">
          </mat-form-field>
        </div>
      </div>

      <div class="col-12 col-sm-4 mx-auto">
        <!--Nombre Representante Legal-->
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Nombre representante legal</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-form-field appearance="outline">
            <input matInput type="tel" placeholder="Ana María Cárdenas Castillo" name="legalRepresentativeName"
                   id="legalRepresentativeName" [(ngModel)]="legalRepresentativeName">
          </mat-form-field>
        </div>
        <!--civil status-->
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Estado civil</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-form-field appearance="outline">
            <mat-select name="naturalCivilStatus" id="legalCivilStatus" [(ngModel)]="civilStatus"
                        [ngModelOptions]="{standalone: true}">
              <mat-option value="Soltero">Soltero</mat-option>
              <mat-option value="Casado">Casado</mat-option>
              <mat-option value="Divorciado">Divorciado</mat-option>
              <mat-option value="Union Libre">Unión Libre</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!--email-->
       <!-- <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Email</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-form-field appearance="outline">
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let email of legalProviderData.emails; let i = index;" [selectable]="true"
                        [removable]="true" (removed)="emails.splice(i, 1)">
                {{email}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input type="email" placeholder="usuario@dominio.com" [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addEmail($event)" name="legalEmails"
                     id="legalEmails" [(ngModel)]="email" (ngModelChange)="emailEntry()"
                     matTooltip="Puedes ingresar hasta 10 correos electrónicos válidos"
                     matTooltipPosition="above">
            </mat-chip-list>
          </mat-form-field>
          <div class="row errors text-center mx-auto my-3" *ngIf="errorEmail != null">
            {{errorEmail}}
          </div>
          <div class="row errors text-center mx-auto my-3" *ngIf="errorEmails != null">{{errorEmails}}</div>
        </div>-->
      </div>
    </div>
  </div>
  <!--buttons-->
  <div class="row justify-content-left justify-content-sm-end  mx-auto">
    <div class="col-0 col-sm-6"></div>
    <div class=" col-12  my-3 col-sm-3 text-center">
      <button class="btn  primaryBtn" id="saveAnchor" >Guardar</button>
    </div>
    <div class=" col-12 my-3 col-sm-3 text-center">
      <button class="btn  secondaryBtn" id="cancelAnchor" (click)="clean()">Cancelar</button>
    </div>
  </div>
  <!--spacer-->
  <hr class="col-11 mx-auto my-2 mx-2">
  <!--relate anchor company section-->

  <app-relate-anchor-company [anchorCompanies]="anchorCompanies"
                             [anchorId]="legalProviderData?legalProviderData.idAnchoredCompany : null"
                             (idAnchorSend)="anchorId($event)"
                             [paymentAccounts]="legalProviderData?legalProviderData.paymentAccounts : []"></app-relate-anchor-company>

</div>

