<div class="container pt-4">
  <div class="row mx-auto justify-content-center my-3">
    <div class="col-10 col-sm-2 my-2">
      <img src="../assets/img/logo.png" class="img-fluid" style="width:100%;"
           alt="Banco Pichincha">
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-10 col-sm-6 mx-auto">
      <h1 class="title text-center my-0"> Bienvenido a Crédito Negocio Proveedor Distribuidor</h1>
    </div>
  </div>
 <!--  <div class="row mx-auto">
    <mat-label class="col-10 col-sm-6 col-md-4 mx-auto labels text-center my-3">Seleccione la empresa con la que se
      desea registrar:
    </mat-label>
  </div> -->
  <div class="row mx-auto">
    <mat-label class="labels col-10 col-sm-6 col-md-4 mx-auto my-2">Usuario</mat-label>
  </div>
  <div class="row mx-auto">
    <mat-form-field appearance="outline" class="col-10 col-sm-6 col-md-4 mx-auto">
      <input type="text" placeholder="Usuario" matInput name="user" [(ngModel)]="user">
    </mat-form-field>
  </div>
  <div class="row mx-auto">
    <mat-label class="labels col-10 col-sm-6 col-md-4 mx-auto my-2">Contraseña</mat-label>
  </div>
  <div class="row mx-auto">
    <mat-form-field appearance="outline" class="col-10 col-sm-6 col-md-4 mx-auto">
      <input type="password" placeholder="Contraseña" matInput name="password" [(ngModel)]="password" >
    </mat-form-field>
  </div>
  <div class="row">
    <button class="primaryBtn col-6 col-sm-2 my-3 mx-auto text-center" mat-button [disabled]="!user || !password"
            (click)="goInside()">Ingresar
    </button>
  </div>
  <div class="row mx-auto">
    <mat-label class="col-10 col-sm-6 col-md-4 mx-auto labels text-center my-3">¿Olvidaste tu contraseña?
    </mat-label>
  </div>
</div>
