<h3 mat-dialog-title><b>{{data.title}}</b></h3>
<div mat-dialog-content>
  <p>{{data.body}}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>{{data.button}}</button>
</div>
