/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";

@import './variables.scss';

html, body {
  height: 100%;
}

body {
  margin: 0;
}


@font-face {
  font-family: Prelo-book;
  src: url(assets/font/Prelo-Book.otf) format('opentype');
}

@font-face {
  font-family: Prelo-bold;
  src: url(assets/font/Prelo-Bold.otf) format('opentype');
}

@font-face {
  font-family: Prelo-exbd;
  src: url(assets/font/Prelo-Exbd.otf) format('opentype');
}

@font-face {
  font-family: Prelo-Extra-light;
  src: url(assets/font/Prelo-ExtraLight.otf) format('opentype');
}

@font-face {
  font-family: Prelo-Light;
  src: url(assets/font/Prelo-Light.otf) format('opentype');
}

@font-face {
  font-family: Prelo-Medium;
  src: url(assets/font/Prelo-Medium.otf) format('opentype');
}

@font-face {
  font-family: Prelo-Semi-bold;
  src: url(assets/font/Prelo-SemiBold.otf) format('opentype');
}

@font-face {
  font-family: Preloslab-bold;
  src: url(assets/font/PreloSlab-Bold.otf) format('opentype');
}

@font-face {
  font-family: Preloslab-book;
  src: url(assets/font/PreloSlab-Book.otf) format('opentype');
}

@font-face {
  font-family: Preloslab-exbd;
  src: url(assets/font/PreloSlab-ExBd.otf) format('opentype');
}

@font-face {
  font-family: Preloslab-Light;
  src: url(assets/font/PreloSlab-Light.otf) format('opentype');
}

@font-face {
  font-family: Preloslab-Semi-bold;
  src: url(assets/font/PreloSlab-SemiBold.otf) format('opentype');
}


.title {
  font-family: $preloSlabBook !important;
  font-size: $titles !important;
  color: $blue !important;
}


.active_link, .active_link:hover {
  background-color: $yellow;
}

.active_btn {
  background-color: $yellow;
  padding-left: 10%;
}

.content {
  font-family: $preloBook;
  font-size: $medium;
  color: $greyText;
}

.labels {
  font-family: $preloSemiBold;
  font-size: $medium;
  font-weight: lighter;
  text-align: left;
  letter-spacing: 0;
  color: $blue;
  opacity: 1;
}

.input {
  border-color: $black !important;
}

.primaryBtn {
  font-family: $preloMedium;
  font-size: $medium;
  background-color: $yellow;
  color: $blue;
  min-width: $buttonsWith;
  border-radius: 4px;
}
.primarySmallBtn {
  font-family: $preloMedium;
  font-size: $medium;
  background-color: $yellow;
  color: $blue;
  border-radius: 4px;
}
.bg{
  background-color: #f3f3f3;
  border-radius: 20px;
}
.alert{
  font-size: $medium !important;
}

.primaryBtn:disabled {
  color: $lighterBlue;
}

.secondaryBtn {
  font-family: $preloMedium;
  font-size: $medium;
  min-width: $buttonsWith;
  background-color: $secondaryBackground;
  color: $blue;
}

.errors {
  font-family: $preloMedium;
  font-size: $medium;
  color: $red;
}

input:invalid {
  border-color: $red !important;
}


th, td {

  vertical-align: middle;
  text-align: center;
  font-size: $extraSmall;
  border: 1px solid $grey;
  color: $lighterBlack;
}

th {
  font-family: $preloBold
}

td {
  font-family: $preloBook;
}

.underline {
  text-decoration: underline;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white !important;
    border-color: $borderColor !important;
  }

  .mat-form-field-appearance-outline .mat-focused .mat-form-field-outline-thick {
    border-color: $active !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    border-color: $borderColor !important;
  }
}
.arrowIcon{
  color: $blue;
}
span.error{
  color: red;
}
table{
  width: 100%;
}

.cursor{
  cursor: pointer;
}

.excel-image{
  width: 100%;
}

.mat-cell{
  min-width: 100px !important;
}



@media (min-width: 781px) {

  .arrowIcon {
    margin-left: 1%;
    margin-top: 2%;
  }
  .excel-image{
    width: 60%;
  }
}
@media (max-width: 500px) {

  .arrowIcon {
    margin-left: 3%;
    margin-top: 2%;
  }
  .excel-image{
    width: 30%;
  }
}
@media (min-width: 501px) and (max-width: 780px){

  .arrowIcon {
    margin-left: 5%;
    margin-top: 2%;
  }
  .excel-image{
    width: 50%;
  }
}

.table-description{
  font-family: $preloSemiBold;
}

.alert{
  border-color: #B7B7B9;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding-bottom: 0;
  //height: 14px;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.7em 0 0.7em 0;
}

