<div class="container pt-4">
  <div class="row mx-auto justify-content-center my-3">
    <div class="col-10 col-sm-2 my-2">
      <img src="../assets/img/logo.png" class="img-fluid" style="width:100%;"
           alt="Banco Pichincha">
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-10 col-sm-6 mx-auto">
      <h1 class="title text-center my-0">Crédito Negocio Proveedor Distribuidor <br>de {{companyName}}</h1>
    </div>
  </div>
  <div class="row">
    <button class="secondaryBtn col-6 col-sm-2 my-3 mx-auto text-center" mat-button
            (click)="goOutside()">Salir
    </button>
  </div>

</div>
